# 构建产物
build/
build-*/
cmake-build-*/
out/
*.o
*.a
*.so
*.dylib
*.exe
*.dSYM/
test_spdlog

# vcpkg 安装目录（可选，如需保留可移除）
vcpkg_installed/

# 系统文件
.DS_Store

# 日志文件
logs/
*.log
interview_report_*.json
termi.txt

# IDE
.vscode/
.idea/
.cache/
*.swp
*.swo
